{% extends "base.html" %}

{% load static %}

{% block titulo %} Recuperação de Senha Completo {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/login/login.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main class="d-flex flex-column justify-content-center align-items-center">
        <header
            class=
                "header-form border border-1 rounded-top-2 border-bottom-0 
                text-white p-2 fs-2 text-center"
            style="width: 30rem;"
        >
            Recuperação de senha
        </header>
        <div class="p-4 border border-1" style="width: 30rem;">
            <h4>Sua senha foi alterada com sucesso!</h4>
            <a 
                href="{% url 'tipo_login' %}" 
                class="btn btn-primary m-auto d-block mt-4" 
                style="width: 8rem;"
            >
                Fazer Login
            </a>
        </div>
    </main>

{% endblock conteudo %}