{% extends "base.html" %}

{% load static %}

{% block titulo %} Nutrição Uningá {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main class="mb-4">
        <section class="section catalogo d-flex flex-column flex-md-row justify-content-around align-items-center gap-4">
            <h1 class="text-center">Catálogo</h1>

            <a class="btn-section d-flex justify-content-center align-items-center" href="{% url "catalogo" %}">
                Ver mais
            </a>
        </section>

        <div class="container-fluid">
            <div class="row">
                {% for alimento in alimentos %}
                    {% include "partials/catalogo/card.html" %}
                {% endfor %}
            </div>
        </div>

        <section class="section agendamento d-flex flex-column flex-md-row justify-content-around align-items-center gap-4">
            <h1 class="text-center">Agendamento</h1>

            {% if user.is_cliente %}
                <a class="btn-section d-flex justify-content-center align-items-center" href="{% url "agendar_consulta" %}">
                    Ver mais
                </a>
            {% else %}
                <a class="btn-section d-flex justify-content-center align-items-center" href="{% url "pagina_nutricionista" %}">
                    Ver mais
                </a>
            {% endif %}
        </section>

        <div class="container">
            <h1 class="text-center">
                Venha agendar sua consulta com nossas nutricionistas
            </h1>
            
            <div class="d-flex justify-content-evenly align-items-center  text-center mt-4">
                <section class="tipo shadow-lg d-flex justify-content-center align-items-center flex-column">
                    <h2 class="fw-bold">Horários</h2>

                    <p class="fs-5">
                        Consultas às 8h e às 11h
                    </p>
                </section>
    
                <section class="tipo shadow-lg d-flex justify-content-center align-items-center flex-column">
                    <h2 class="fw-bold">Dias</h2>

                    <p class="fs-5">
                        de segunda a quinta
                    </p>
                </section>
            </div>
        </div>
    </main>

    {% include "partials/footer.html" %}
{% endblock conteudo %}
