{% extends "base.html" %}

{% load static %}

{% block titulo %} Login {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/login/login.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main 
        class="d-flex flex-column justify-content-center align-items-center"
        style="height: 80vh;"
    >
        <small class="text-danger mb-2">
            {{ erro }}
        </small>
        <header
            class=
                "header-form border border-1 rounded-top-2 border-bottom-0 
                text-white p-2 fs-2 text-center"
            style="width: 30rem;"
        >
            Nutricionista
        </header>
        <form method="POST" class="p-4 border border-1" style="width: 30rem;"
        >
            {% csrf_token %}
            {{ form }}
            
            <a href="{% url "password_reset" %}" rel="noopener noreferrer">
                Esqueci minha senha
            </a>
            <button 
                type="submit" 
                class="btn btn-success m-auto d-block mt-4" 
                style="width: 8rem;"
            >
                Enviar
            </button>
        </form>
    </main>
{% endblock conteudo %}
