{% load static %}
{% load custom_filters %}

<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
    <div class="card" style="height: 32rem;">
        {% if alimento.imagem %}
            <img src="{{ alimento.imagem.url }}" class="card-img-top" alt="imagem de {{alimento.nome}}" style="height: 16rem;">
        {% else %}
            <img src="{% static "img/placeholder.png" %}" class="card-img-top" alt="Placeholder" style="height: 16rem;">
        {% endif %}
        <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center">{{ alimento.nome }}</h5>
            <p class="card-text" style="text-align: justify;">{{ alimento.descricao|custom_truncate:100 }}</p>
            <div class="bottom-aligned mt-auto">
                <hr>
                <a href="{% url "alimento" alimento.id %}" class="btn-card m-auto d-block">Ver Tabela</a>
            </div>
        </div>
    </div>
</div>