<table class="table table-bordered">
    <thead class="table-success">
        <tr>
            <th>Nutriente</th>
            <th>Valores</th>
            <th>% VD (*)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Calorias (Valor energético)</td>
            <td id="valor-calorias">{{alimento.calorias}} kcal</td>
            <td id="vd-calorias"></td>
        </tr>
        <tr>
            <td>Carboidratos</td>
            <td id="valor-carboidratos">{{alimento.carboidratos}} g</td>
            <td id="vd-carboidratos"></td>
        </tr>
        <tr>
            <td>Carboidratos líquidos</td>
            <td id="valor-carboidratos-liquidos">{{alimento.carboidratos_liquidos}} g</td>
            <td id="vd-carboidratos-liquidos"></td>
        </tr>
        <tr>
            <td>Proteínas</td>
            <td id="valor-proteinas">{{alimento.proteinas}} g</td>
            <td id="vd-proteinas"></td>
        </tr>
        <tr>
            <td>Gorduras totais</td>
            <td id="valor-gorduras-totais">{{alimento.gorduras_totais}} g</td>
            <td id="vd-gorduras-totais"></td>
        </tr>
        <tr>
            <td>Gorduras saturadas</td>
            <td id="valor-gorduras-saturadas">{{alimento.gorduras_saturadas}} g</td>
            <td id="vd-gorduras-saturadas"></td>
        </tr>
        <tr>
            <td>Fibra Alimentar</td>
            <td id="valor-fibra-alimentar">{{alimento.fibra_alimentar}} g</td>
            <td id="vd-fibra-alimentar"></td>
        </tr>
        <tr>
            <td>Sódio</td>
            <td id="valor-sodio">{{alimento.sodio}} mg</td>
            <td id="vd-sodio"></td>
        </tr>
    </tbody>
    
</table>
