{% extends "base_cliente.html" %}

{% load static %}

{% block titulo %} Agendar Consulta {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/login/login.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main 
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 80vh;"
    >
        <header
            class=
                "header-form border border-1 rounded-top-2 border-bottom-0 
                text-white p-2 fs-2 text-center"
            style="width: 30rem;"
        >
            Agendar Consulta
        </header>
        <form method="POST" class="p-4 border border-1" style="width: 30rem;"
        >
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="mt-4 d-flex justify-content-between">
                <button 
                    type="submit" 
                    class="btn btn-success" 
                    style="width: 8rem;"
                >
                    Agendar
                </button>
            </div>
        </form>
    </main>
{% endblock conteudo %}

{% block scripts %}
    <script src="{% static "js/agendamento/data.js" %}"></script>
{% endblock scripts %}