<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <span class="fs-5">
                <strong>Médico: </strong>
                Nome medico
            </span>
            <div>
                <span class="fs-5">
                    <strong>Dia: </strong>
                    12/09/2024
                </span>
                <span class="fs-5">
                    <strong>Horário: </strong>
                    18:00
                </span>
            </div>
            
        </div>
        <hr>
        <div class="text-end">
            <a class="btn btn-danger" href="">
                Cancelar
                <i class="bi bi-trash-fill"></i>
            </a>
        </div>
    </div>
</div>