.tipo {
    background-color: var(--cor-primaria);
    width: 20rem;
    height: 20rem;
}

.tipo a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.tipo a i {
    font-size: 5rem;
}

.tipo h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

main {
    height: 80vh;
}