{% load static %}

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Sobre nós</h4><hr>
            <p>Somos uma empresa dedicada a fornecer serviço de nutricionismo.</p>
        </div>
        <div class="footer-section">
            <h4>Links úteis</h4>
            <ul>
                <li>
                    <a href="https://uninga.br/" target="_blank" rel="noreferrer">
                        Site oficial
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/uningaoficial/" target="_blank" rel="noreferrer">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/uninga.edu.br" target="_blank" rel="noreferrer">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://tiktok.com/@uningaoficial" target="_blank" rel="noreferrer">
                        Tik Tok
                    </a>
                </li>
                <li>
                    <a href="https://youtube.com/uningaoficial" target="_blank" rel="noreferrer">
                        Youtube
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Contato</h4>
            <span>
                <i class="bi bi-whatsapp"></i>
                (44) 9 9710 2250
            </span>

            <span class="d-block mt-2">
                <i class="bi bi-envelope"></i>
                ouvidoria@uninga.edu.br
            </span>

            <span class="d-block mt-2">
                <i class="bi bi-telephone"></i>
                44 3033 5009
            </span>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 | Uningá - Centro Universitário Ingá </p>
    </div>
</footer>
