{% load static %}

{% if user.is_authenticated %}
    <div class="text-end">
        {% if user.is_cliente %}
            <a class="text-white mx-2 text-decoration-none" href="{% url 'pagina_cliente' %}">
                {% if user.foto %}
                    <img 
                        class="imagem-usuario mx-2"
                        src="{{user.foto.url}}" 
                        alt="foto de {{user.first_name}}"
                    >
                {% else %}
                    <img 
                        class="imagem-usuario mx-2"
                        src="{% static "img/placeholder.png" %}" 
                        alt="Placeholder"
                    >
                {% endif %}
                <span>{{user.first_name}}</span>
            </a>
        {% elif user.is_nutricionista %}
            <a class="text-white mx-2" href="{% url 'pagina_nutricionista' %}">
                {% if user.foto %}
                    <img 
                        class="imagem-usuario mx-2"
                        src="{{user.foto.url}}" 
                        alt="foto de {{user.first_name}}"
                    >
                {% else %}
                    <img 
                        class="imagem-usuario mx-2"
                        src="{% static "img/placeholder.png" %}" 
                        alt="Placeholder"
                    >
                {% endif %}
                <span>{{user.first_name}}</span>
            </a>
        {% endif %}
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">
            Sair
        </a>
    </div>
{% else %}
    <div class="text-end">
        <a class="btn btn-outline-light" href="{% url "tipo_login" %}">Entrar</a>
    </div>
{% endif %}