{% extends "base.html" %}

{% load static %}

{% block titulo %} Catálogo {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/catalogo/catalogo.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main>
        {% include "partials/catalogo/pesquisa.html" %}

        <div class="container">
            {% if user.is_nutricionista or user.is_superuser %}
                <a 
                    class="btn btn-primary m-auto d-block mb-4" 
                    href="{% url "adicionar_alimento" %}"
                    style="max-width: 18rem;"
                >
                    Adicionar alimento ao catálogo
                </a>
            {% endif %}
            <div class="row">
                {% for alimento in pagina.object_list %}
                    {% include "partials/catalogo/card.html" %}
                {% endfor %}
            </div>
        </div>
        
        {% include "partials/catalogo/paginador.html" %}
    </main>
{% endblock conteudo %}