{% extends "base_nutricionista.html" %}

{% load static %}

{% block titulo %} Pagina Inicial {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/agendamento/pagina_inicial.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main>
        {% include "partials/agendamento/bem_vindo.html" %}

        <section class="container mt-5 d-flex justify-content-center flex-column text-center">
            <h1>Minhas Consultas</h1>
            <hr>
            <div class="d-flex flex-column gap-2">
                {% for consulta in consultas %}
                    {% include "partials/agendamento/nutricionista/consultas.html" %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock conteudo %}



