{% extends "base_nutricionista.html" %}

{% load static %}

{% block titulo %} Pagina Inicial {% endblock titulo %}

{% block styles %}
    <link rel="stylesheet" href="{% static "css/agendamento/pagina_inicial.css" %}">
{% endblock styles %}

{% block conteudo %}
    <main>
        {% include "partials/agendamento/bem_vindo.html" %}

        <section class="container mt-5 d-flex justify-content-center flex-column text-center">
            <h4>
                Ver consultas suas consultas em:
                <a 
                    class="btn btn-primary d-block mt-4 m-auto" 
                    href="{% url "minha_agenda" %}"
                    style="width: 10rem;"    
                >
                    minha agenda
                </a>
            </h4>
        </section>
    </main>
{% endblock conteudo %}



